<form class="form-horizontal" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Edit Task</legend>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="title" autocomplete="off" formControlName="title" required>
        <div *ngIf="formErrors.title" class="alert alert-danger">
          {{ formErrors.title }}
        </div>
      </div>      
    </div>
    <div class="form-group">
      <label for="description" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea" formControlName="description"></textarea>
        <div *ngIf="formErrors.description" class="alert alert-danger">
          {{ formErrors.description }}
        </div>
        <span class="help-block">Enter a description.</span>        
      </div>
    </div>
    <div class="form-group">
      <label for="duedate" class="col-lg-2 control-label">Due Date</label>
      <div class="col-lg-10">
        <input type="text" id="dueDate" class="form-control" formControlName="dueDate">
        <span class="help-block">Enter a due date.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="parent" class="col-lg-2 control-label">Parent</label>
      <div class="col-lg-10">
        <app-task-selector [group]="taskForm"></app-task-selector>                
      </div>
    </div>
    <div class="form-group">
      <label for="parent" class="col-lg-2 control-label">Complete</label>
      <div class="col-lg-10">
        <input type="checkbox" formControlName="isComplete"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>